<h1>Olá, agradecemos por escolher a nossa loja, <a href="/produtos">clique aqui para ver os nosso produtos</a></h1>
<h2><a href="/promocao">Clique aqui para ver nossas promoções diárias!</a></h2>
<p>Veja a nossa feirinha<a href="/feirinha">clicando aqui</a></p>
<h2>O nome do usuário é {{user.name}} e ele tem {{user.age}} anos!</h2>
