<h1>Nossos produtos:</h1>
<ul>
    {{#each items}}
    <li>
        {{this }}
    </li>
    {{/each}}
</ul>
<a href="/promocao">Clique para aqui para ver nossas promoções diárias!</a>
<p>Veja a nossa feirinha<a href="/feirinha">clicando aqui</a></p>
<p><a href="/">Voltar</a></p>