<h1>Aqui estão algumas de nossas promoções:</h1>
{{#with promocao}}
 <h1>{{title}}</h1>
 <p>{{category}}</p>
 <p>{{body}}</p>
{{/with}}

<p>Veja mais sobre a nossa Batata Premium<a href="/batata">clicando aqui</a></p>
<p>Veja mais sobre a nossa Maçã Premium<a href="/maca">clicando aqui</a></p>

<p><a href="/">Clique aqui para voltar para a página principal!</a></p>
<p><a href="/produtos">clique aqui para voltar para os produtos</a></p>
<p>Veja a nossa feirinha<a href="/feirinha">clicando aqui</a></p>